{% extends "layout.html" %}

{% block title %}
    cash
{% endblock %}

{% block main %}
    <form action="/cash" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="amt" placeholder="amount" type="NUMERIC" min="0" required>
        </div>
        <div class="mb-3">
            <select name="type" required>
                <option value="Add">Add cash</option>
                <option value="Withdraw">Withdraw cash</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">CONFIRM</button>
    </form>
{% endblock %}
